Assignment5/Assignment5/Service References/Assignment5/AddShowService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1112/AddShowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebApplication1" />
  <xs:element name="AddArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="a" nillable="true" type="q1:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="s" nillable="true" type="q2:Show" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShowDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="s" nillable="true" type="q3:Show" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="v" nillable="true" type="q4:Venue" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="sd" nillable="true" type="q5:ShowDetail" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="a" nillable="true" type="q6:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShowDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShowDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>